{% load static %}

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>What's My Zipcode?</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'ZipLookupUI/angular/styles.css' %}">
</head>
<body>
    <app-root></app-root>
    <script src="{% static 'ZipLookupUI/angular/runtime.js' %}"></script>
    <script src="{% static 'ZipLookupUI/angular/polyfills-es5.js' %}"></script>
    <script src="{% static 'ZipLookupUI/angular/polyfills.js' %}"></script>
    <script src="{% static 'ZipLookupUI/angular/main.js' %}"></script>
</body>
</html>
